@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Arimo;
  src: url('/fonts/Arimo-Light.ttf');
}

@font-face {
  font-family: Palanquin;
  src: url('/fonts/Palanquin-Light.ttf');
}

@font-face {
  font-family: Righteous;
  src: url('/fonts/Righteous-Regular.ttf');
}

@layer base {
  body {
    @apply bg-[#111111] text-[#ffd5d9] font-palanquin
  }

  h1 {
    @apply font-righteous text-[36px]
  }

  h2{
    @apply font-arimo text-[20px]
  }
}